<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2f981">  <td>21/06/15 15:19:07</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;RHBModule.setUp(java.lang.String)[pri:0, instance:automation.modules.RHBModule@1ddf84b8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1610525991</td>   <td></td> </tr>
<tr bgcolor="a2f981">  <td>21/06/15 15:19:18</td>   <td>11449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RHBModule.clickonENG()[pri:1, instance:automation.modules.RHBModule@1ddf84b8]">clickonENG</td> 
  <td>main@1610525991</td>   <td></td> </tr>
<tr bgcolor="a2f981">  <td>21/06/15 15:19:25</td>   <td>17656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RHBModule.clickonLoin()[pri:2, instance:automation.modules.RHBModule@1ddf84b8]">clickonLoin</td> 
  <td>main@1610525991</td>   <td></td> </tr>
</table>
